
.main-logo {
	width: 200px;
	height: 125px;
	margin: 0px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('Fk image.png') no-repeat;
	background-size: 100%;


}

.navcustom {
	background-color: rgb(12, 186, 255);
}



.navtextcustom {
	margin-top: 50px;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
}

.red, .yellow, .blue, .gray {
	text-decoration: none;
	margin: 15px;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-size: 150%;
}


.lewisImage {
	margin: 0 auto;
}

.whatEven {
	font-family: 'Libre Baskerville', serif;
}

.activitySeries {
	margin-top: 480px;
}

.Solubility-Rules {
	margin-top: 25px;
}

.Molar-Mass {
	margin: 0 auto;
}