
body {
	background-color: white;
}

.main-logo {
	width: 150px;
	height: 125px;
	margin: 0px;
	/*text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('hipster.png') no-repeat;
	background-size: 100%;*/


}

.navcustom {
	background-color: rgb(12, 186, 255);
}



.navtextcustom {
	margin-top: 50px;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;

}

.red, .yellow, .blue, .gray {
	text-decoration: none;
	margin: 15px;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-size: 150%;
}


.lewisImage {
	margin: 0 auto;
}

.whatEven {
	font-family: 'Libre Baskerville', serif;
}

.activitySeries {
	margin-top: 480px;
}

.Solubility-Rules {
	margin-top: 25px;
}

.Molar-Mass {
	margin: 0 auto;
	margin-top: 115px;
}



/******NAV BAR SHIT*****/


/***icon animation shit**/

.fixed-nav-top {
	position: fixed;
  	top: 0;
  	left: 0;
  	z-index: 9999;
  	width: 100%;
  	height: 65px;
  	background-color: #258ECD;
}

.nav-brand {
	float: left;
	padding-left: 15px;
	font-family: 'Pacifico', cursive;
	color: white;
	
}

.menu-icon {
	float: right;
	
	
}

#nav-icon4 {
  width: 35px;
  height: 45px;
  position: relative;
  margin: 10px;
  right: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon4 span {
  display: block;
  /**position: absolute;**/
  margin: 8px;
  height: 4px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon4 {
}

#nav-icon4 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4 span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon4.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#nav-icon4.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon4.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}


