
.main-logo {
	width: 200px;
	height: 125px;
	margin: 0px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('Fk image.png') no-repeat;
	background-size: 100%;


}

.navcustom {
	background-color: rgb(12, 186, 255);
}



.navtextcustom {
	margin-top: 50px;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
}

.red, .yellow, .blue, .gray {
	text-decoration: none;
	margin: 15px;
	font-family: 'Libre Baskerville', serif;
	font-style: italic;
	font-size: 150%;
}


.lewisImage {
	margin: 0 auto;
}

.whatEven {
	font-family: 'Libre Baskerville', serif;
}

.activitySeries {
	margin-top: 480px;
}

.Solubility-Rules {
	margin-top: 25px;
}

.Molar-Mass {
	margin: 0 auto;
}

/******NAV BAR SHIT*****/

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(0, 0, 0, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 15px;
    background-color: rgba(12, 186, 255, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(12, 186, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(9, 139, 191, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #098bbf;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #098bbf;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #098bbf;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #0cbaff;
}